
.nav-link {
    color: white !important; /* Forzar color blanco */
    text-decoration: none;
    padding: 0.5rem 0.8rem; /* Espaciado */
    border-radius: 5px;
    transition: color 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
    text-align: center;
    position: relative; /* Necesario para el box-shadow */
  }

  /* Línea amarilla en hover */
  .nav-link:hover {
    color: #4DA1A9 !important; /* Color en hover */
    box-shadow: inset 0 -2px 0 0 #4DA1A9; /* Línea inferior */
  }

  /* Enlace activo */
  .nav-link.active {
    color: #4DA1A9 !important; /* Color activo */
    box-shadow: inset 0 -2px 0 0 #4DA1A9;
  }

  /* Fondo del navbar */
  .navbar {
    background-color: #2E5077;
  }

  /* Color del texto del botón del formulario */
  .btn-outline-light {
    color: white;
    border-color: white;
  }

  .btn-outline-light:hover {
    color: #4DA1A9;
    border-color: #4DA1A9;
    background-color: transparent;
  }

   /* Contenedor para la imagen del encabezado */
   .header-container {
    width: 100%; /* Ocupa todo el ancho */
    height: auto; /* Se adapta dinámicamente */
    position: relative;
    overflow: hidden; /* Oculta desbordes si es necesario */
    margin-top: 70px;
  }

  @media (max-width: 768px) {
  /* Ajuste del margen para pantallas más pequeñas */
  .header-container {
    margin-top: 90px; /* Ajustar según el tamaño del navbar en móviles */
  }
}

  /* Imagen responsiva */
  .header-container img {
    width: 100%; /* Ocupa todo el ancho */
    height: auto; /* Mantiene proporciones */
    display: block; /* Evita espacios extra debajo de la imagen */
  }

  /* Para pantallas pequeñas, puedes ajustar la altura */
  @media (max-width: 768px) {
    .header-container {
      height: auto; /* Permite que el contenedor crezca si es necesario */
    }
  }

  /* Ajuste adicional para evitar superposición con el navbar */
  body {
    margin: 0;
    padding: 0;
  }

  .redfooter{
    background-color: #2E5077;
  }

  .nav-item {
    margin-right: 15px; /* Ajusta el espacio horizontal entre los enlaces */
  }