
.swal-popup {
    @apply bg-white shadow-lg rounded-xl p-6; /* Fondo blanco con sombra y bordes redondeados */
}

.swal-title {
    @apply text-2xl font-bold text-gray-800; /* Texto grande y negrita */
}

.swal-text {
    @apply text-lg text-gray-600; /* Texto mediano y gris */
}


    #btn_regresar {
width: 48px;
}

/* Expansión del botón al pasar el mouse */
#btn_regresar:hover {
width: 140px; /* Espacio suficiente para el texto */
background-color: white;
color: cadetblue;
border-color: cadetblue;
border-width: 2px;
}

/* Mostrar texto al hacer hover */
#btn_regresar:hover #btn_regresar_texto {
display: inline;
}

/* Ocultar ícono al mostrar texto */
#btn_regresar:hover #btn_regresar_icono {
opacity: 0;
}

/* Transición suave del ícono */
#btn_regresar_icono {
transition: opacity 0.3s;
}

/* Texto visible al hacer hover */
#btn_regresar:hover .text-content {
opacity: 1;
}

/* Asegurar que el SVG desaparezca al hacer hover */
#btn_regresar:hover #btn_regresar_icono {
display: none;
}
    /* Botón inicial con ancho reducido */
    #btn_agregar {
        width: 48px;
    }

    /* Expansión del botón al pasar el mouse */
    #btn_agregar:hover {
        width: 140px; /* Espacio suficiente para el texto */
        background-color: white;
        color: cadetblue;
        border-color: cadetblue;
        border-width: 2px;
    }

    /* Mostrar texto al hacer hover */
    #btn_agregar:hover #btn_texto {
        display: inline;
    }

    /* Ocultar ícono al mostrar texto */
    #btn_agregar:hover #btn_icono {
        opacity: 0;
    }

    /* Transición suave del ícono */
    #btn_icono {
        transition: opacity 0.3s;
    }

    /* Alinear el texto y mantener estilos */
    .text-content {
        white-space: nowrap; /* Evitar saltos de línea */
        opacity: 0;
        transition: opacity 0.3s;
    }

    /* Texto visible al hacer hover */
    #btn_agregar:hover .text-content {
        opacity: 1;
    }

    /* Botón inicial con ancho reducido */
#btn_buscar {
width: 48px;
}

/* Expansión del botón al pasar el mouse */
#btn_buscar:hover {
width: 140px;
background-color: white;
color: cadetblue;
border-color: cadetblue;
border-width: 2px;
}

/* Mostrar texto al hacer hover */
#btn_buscar:hover #btn_buscar_texto {
display: inline;
}

/* Ocultar ícono al mostrar texto */
#btn_buscar:hover #btn_buscar_icono {
opacity: 0;
}

/* Transición suave del ícono */
#btn_buscar_icono {
transition: opacity 0.3s;
}

/* Texto visible al hacer hover */
#btn_buscar:hover .text-content {
opacity: 1;
}

@media (max-width: 640px) {
#btn_agregar:hover {
justify-content: center;
}

#btn_buscar:hover {
justify-content: center;
}

#btn_regresar:hover {
justify-content: center;
}
}

/* Asegurar que el SVG desaparezca */
#btn_agregar:hover #btn_icono,
#btn_buscar:hover #btn_buscar_icono {
display: none;
}

#btn_regresar:hover #btn_regresar_icono{
display: none;
}